<div class="container section">
	<h4>Sobre o Aplicativo</h4>
	<hr>
		<p>O aplicativo foi desenvolvido para unificar o cardápio de todas as universidades do país.</p>
		<br>
	
	<h4>Informações para Desenvolvedores</h4>
	<hr>
		<p>Para desenvolver essa aplicação, foram utilizadas as seguintes ferramentas:</p>
		<ul>
			<li>BackboneJS - Framework Javascript</li>
			<li>Bootstrap - Framework HTML e CSS</li>
		</ul>
	<br>
	
	<h4>Autor</h4>
		<hr>
		<ul>
			<li>Thiago Nascimento (<a href="https://twitter.com/thiagodnf">@thiagodnf</a>)</li>
		</ul>
</div>