<div class="container section">
	<p><strong>Sobre o Aplicativo</strong></p>
	<p>O aplicativo foi desenvolvido para unificar o cardápio de todas as universidades do país.</p>
	
	<p><strong>Informações para Desenvolvedores</strong></p>
	<p>Para desenvolver essa aplicação, foram utilizadas as seguintes ferramentas:</p>
	<ul>
		<li>BackboneJS - Framework Javascript</li>
		<li>Bootstrap - Framework HTML e CSS</li>
	</ul>

	<p><strong>Autores</strong></p>
	<ul>
		<li>Thiago Nascimento</li>		
	</ul>

</div>


