<div class="container section">
    <h1>Oops! Um erro ocorreu...</h1>
    <p class="lead">O servidor retornou um "<%= data.status %> <%= data.statusText %>"</p>
	
	<div class="alert alert-warning">
		<p><strong>Detalhes do erro: </strong></p>
	  	<p><%= data.responseText %></p>
	</div>
	<hr>
	<p><a href="#all">Clique aqui</a> para ver todos os cardapios disponíveis.</p>	
</div>