<main class="bs-masthead" id="content" role="main">
    <div class="container section">
        <h1>Cardápio RU</h1>

        <p class="lead">Simples e intuitivo sistema de cardápios de Restaurantes Universitários.</p>

        <a class="btn btn-primary btn-lg" role="button" href="#all">Ver todos os cardápios »</a>
    </div>
</main>

