<div class="container section">
    <h1>:-( Nenhum cardápio foi encontrado</h1>
    <p class="lead">Por favor, verifique novamente o cardápio que você escolheu</p>
    <p><a href="#all">Clique aqui</a> para ver todos os cardapios disponíveis.</p>
</div>