body {
    padding-top: 50px;  
}

#loading {
    position:fixed;
    z-index:999;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.3);
}

.sec-nav-bar {
    padding: 15px 0px;
    color: #777;
    background-color: #fafafa;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e5e5e5; 
    @media (max-width: 768px){
        .text-primary {
            display: block;
        }
    }  
}

.social {
    padding-top: 10px;
}

.panel-heading {
    p {
        margin: 0px;
    }
}

/* Finalizado */
















@media (min-width: 768px){
    .bs-masthead h1 {
        font-size: 100px;
    }
}

.bs-masthead h1 {
    font-size: 60px;
    line-height: 1;
    color: #fff;
}

.section{
	padding-top: 20px;
}

.bs-masthead {
    position: relative;
    padding: 30px 15px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,.15);
}

.bs-docs-home, .bs-header{
    color: #cdbfe3;
    background-color: #236ab2;
    background-image: url('../images/bg.png');
}

@media (min-width: 768px){
    .bs-masthead {
        text-align: left;
        padding-top: 100px;
        padding-bottom: 140px;
    }
}

.menu{
	border: 1px solid #C1C1C1;
	background-color: #FAFAFA;
	border-radius: 5px;
	min-height: 300px;
    padding-top: 5px;
	ul {
		margin: 0; 
		padding: 0;
	}
	ul li {
		list-style: none;
		vertical-align: middle; 
		padding: 0.5em 0.5em 0.2em 0.5em;		
	} 
}

@media (min-width: 768px) {
	.navbar-form,.teste{
		margin-right: -22px;
	}
}

.row, {
	/* border: 1px solid black; */
}

.container{
	/*border: 1px solid black*/;	
}

.col-md-1,.col-md-2{
	/*border: 1px solid red*/;
}

$bgDefault      : #236ab2;
$bgHighlight    : #245688;
$colDefault     : #ecf0f1;
$colHighlight   : #ffffff;
.navbar-default {
    background-color: $bgDefault;
    border-color: $bgHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHighlight;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHighlight;
                background-color: $bgHighlight;
                .caret {
                    border-top-color: $colHighlight;
                    border-bottom-color: $colHighlight; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHighlight;
                        border-bottom-color: $colHighlight; }}}}}
    .navbar-toggle {
        border-color: $bgHighlight;
        &:hover, &:focus {
            background-color: $bgHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHighlight;
            background-color: $bgHighlight; }}
}